<a href="https://colab.research.google.com/github/sapinspys/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/Code_Challenge_7_29_Guillermo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# - df.loc[] is a pandas data frame method.
# - df.loc[] is for Filtering ROWS selection and/or selecting COLUMNS by the LABEL

# Rows: a Label is the INDEX.
# Columns: a Label is the Column NAME

# Date Frame Labels example below

#    'name_1'| 'name_2'       < 'Labels'
# 0|_______|________|
# 1|_______|________|
# 2|_______|________|
# 3|_______|________|

# ^
# Also 'Labels'


# .loc[] method format below:

# df.loc[what Rows you want , what Columns you want] 

# Allowed inputs are..
# - A single Label - df.loc[5]
# - A list of Labels - df.loc['name_1', 'name_2', 'name_3']
# - A slice with Labels - df.loc['name_1':'name_3']
# - A Boolean Array same length as axis being sliced - df.loc[True, True, True, False, False]

# \/ Tips \/
# - Axis is either Rows or Columns
# - : means ALL Labels along THAT Axis
# - : is inclusive on both sides of the Slice

# Use Google-Fu to figure out how to do what the exercises ask for.

In [1]:
import pandas as pd

# Data Frame to practice .loc[] techniques on
df = pd.DataFrame({'index':[1, 2, 3, 4, 5],
                   'name_1':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_2':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_3':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_4':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_5':['entry1', 'entry2', 'entry3', 'entry4', 'entry5']})

# Set Index
df.set_index('index', inplace=True)

print(df)

       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
2      entry2  entry2  entry2  entry2  entry2
3      entry3  entry3  entry3  entry3  entry3
4      entry4  entry4  entry4  entry4  entry4
5      entry5  entry5  entry5  entry5  entry5

In [4]:
### Select by a Single Label

#1 Select and print the '1' Row
df.loc[1]

name_1    entry1
name_2    entry1
name_3    entry1
name_4    entry1
name_5    entry1
Name: 1, dtype: object

In [5]:
#2 Select and print Row 1 Label with Column 1 Label to get entry1
df.loc[1, 'name_1']

'entry1'

In [9]:
### Select Multiple Rows Using LISTS

#1 Select and print Row Labels 1, 2
df.loc[[1,2]]

       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
2      entry2  entry2  entry2  entry2  entry2

In [10]:
#2 Select and print Row Labels 1, 3, 5
df.loc[[1,3,5]]

       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
3      entry3  entry3  entry3  entry3  entry3
5      entry5  entry5  entry5  entry5  entry5

In [12]:
# Now Rows WITH desired Columns

#3 Select and print Row Labels 1, 2, 3 with Column Labels 'name_1', 'name_2', 'name_3'
df.loc[[1,2,3], ['name_1', 'name_2','name_3']]

       name_1  name_2  name_3
index
1      entry1  entry1  entry1
2      entry2  entry2  entry2
3      entry3  entry3  entry3

In [13]:
#4 Select and print Row Labels 1, 3, 4, 5 with Column Labels 'name_1', 'name_3', 'name_4', 'name_5'
df.loc[[1,3,4,5], ['name_1', 'name_3','name_4','name_5']]

       name_1  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1
3      entry3  entry3  entry3  entry3
4      entry4  entry4  entry4  entry4
5      entry5  entry5  entry5  entry5