<a href="https://colab.research.google.com/github/sapinspys/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/Code_Challenge_Tuesday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Code Challenge

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

If you finish early, think about efficiency, and generalizing your solution. Hint: The concept of "triangular numbers" may come in handy.

In [0]:
# Imports

import numpy as np

In [11]:
# Test Case

sampleCase = np.arange(1,10)
  
sampleCase

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [31]:
%time

# Possible function to find sum of multiples of 3 or 5

def sumOfMultiples(nums,multiple1, multiple2):
  '''Takes a list of numbers and returns the sum of found multiples 
   of 3 or 5 as an integer.'''
  return sum([num for num in nums if num%multiple1==0 or num%multiple2==0])
  
print(multiplesOfThreeAndFive(sampleCase))

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.96 µs
23

In [13]:
# Find the sum of all the multiples of 3 or 5 below 1000

testCase = np.arange(1,1000)

print(multiplesOfThreeAndFive(testCase))

233168

## Code Challenge 2

As a young child, the story goes, the famous mathematician Gauss was scolded by his math teacher for not paying attention in class and was told to add up all the numbers from 1 to 100 as a punishment. He instantly answered that the sum was 5050, annoying his teacher even more. How did he know? He summed up pairs of numbers in the sequence that added to 100: `(0,100), (1,99)...(49,51) = 50 * 100 = 5000`
and added the 50 left over.

In [30]:
def gaussCount(nums):
  ''''''
  count = 0
  for i in nums:
    if(i==len(nums)-i):
      break
    else:
      count += i + len(nums)-i
  
  return count 

print(gaussCount(np.arange(1,101).tolist()))    

print(gaussCount(np.arange(0,100).tolist()))

print(sum(np.arange(1,101)))

4900
5000
5050